/**
 * Hide when Angular is not yet loaded and initialized
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.md-errors-spacer {
    min-height: 0px !important;
}

md-input-container {
    margin-bottom: 0px !important;
}

body {
    padding: 30px;
}

.bl-block {
    background-color: #eeeeee;
}

.bl-block .bl-header {
    border-bottom-style: solid;
    background-color: #fafafa;
}

.bl-block .bl-header h1 {
    color: black;
    font-size: medium;
    text-transform: uppercase;
}

.bl-content {
    padding: 10px;
}

.bl-column {
    padding: 10px;
}

.bl-result {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-style: solid;
    padding-top: 4px;
    padding-right: 2px;
    padding-bottom: 1px;
    padding-left: 2px;
    border-top-color: rgba(0, 0, 0, 0.117647);
    border-right-color: rgba(0, 0, 0, 0.117647);
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-left-color: rgba(0, 0, 0, 0.117647);
    font-style: italic;
}

.bl-result p {
    font-size: 100%;
    color: rgba(0,0,0,0.87);
    font-family: Roboto,"Helvetica Neue",sans-serif;
    margin-top: 8px;
    margin-right: 0em;
    margin-bottom: 4px;
    margin-left: 0em;
    padding-left: 4px;
}

.bl-result label {
    font-size: small;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.54);
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-style: normal;
    padding-left: 3px;
    bottom: 100%;
}

@media screen and (min-width: 600px) {
    .bl-section-placeholder {
        min-height: 53px;
    }
}

.bl-section h1 {
    text-transform: uppercase;
    font-size: medium;
    color: #000;
    font-weight: bold;
}

.bl-section img {
    padding-right: 10px;
    padding-bottom: 5px;
}

.bl-table a {
    color: rgba(0, 0, 0, 0.54);
}

.bl-table th {
    text-indent: 4px;
    text-align: left;
    font-size: small;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.54);
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-style: normal;
}

.bl-table .bl-table-data {
    text-indent: 4px;
}

.bl-table .bl-table-action {
    text-align: right;
}

.bl-table md-input-container {
    margin-top: 0px !important;
}

.comment-textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bl-brew-list-header {
    background-color: rgba(0, 167, 203, 0.30);
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    margin-top: 10px;
    padding: 5px;
}

.bl-brew-list-header-collapsed {
    border-bottom-width: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.bl-brew-list-content {
    border: solid;
    border-width: 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.fade {
  transition: 0.5s linear all;
  -webkit-transition: 0.5s linear all;
}

.fade.ng-enter {
  opacity: 0;
}

.fade.ng-enter.ng-enter-active {
  opacity: 1;
}

.fade.ng-leave {
  opacity: 1;
}

.fade.ng-leave.ng-leave-active {
  opacity: 0;
}

.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.star-rating .star {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}
.star-rating .star.filled {
  color: rgb(253, 147, 7)
}
.star-rating.readonly .star.filled {
  color: #666;
  cursor: default;
}
