{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Brew{% endblock title %}
{% block content %}
<body ng-controller="FermentController" ng-cloak="" ng-app="Ferment">

    <!-- Graph -->
    <div layout="row" layout-xs="column" class="bl-content">
        <div flex class="bl-block" layout="column">
            <div class="bl-header" layout="row">
                <h1>Ferment</h1>
            </div>

            <div layout="row" layout-xs="column">

                <div flex layout="column" class="bl-column">
                    <div class="bl-section" layout="row">
                        <img src="{% static "img/settings.png" %}">
                        <h1>Settings</h1>
                    </div>
                    <p>Current target: {[{ target_temp }]}&deg;C</p>
                    <p style="font-size:80%;">Adjust target</p>
                    <md-slider-container>
                        <md-icon md-svg-icon="{% static "img/temperature.svg" %}"></md-icon>
                        <md-slider flex min="0" max="25" ng-model="adjust_target_temp" aria-label="Target temperature" id="target-slider">
                        </md-slider>
                        <md-input-container>
                            <input flex type="number" ng-model="adjust_target_temp" aria-label="Target temperature" aria-controls="target-slider">
                        </md-input-container>

                    </md-slider-container>
                    <md-button ng-click="updateTarget()">
                        Submit
                    </md-button>

                </div>
                <div flex layout="column" class="bl-column">
                    <div class="bl-section" layout="row">
                        <img src="{% static "img/batch.png" %}">
                        <h1>Current</h1>
                    </div>
                    <table style="width:100%;" class="bl-table" ng-if="brews.length > 0">
                        <tr>
                            <th>Recipe</th>
                            <th>Started</th>
                            <th>O.G.</th>
                        </tr>
                        <tr ng-repeat="brew in brews" class="fade">
                            <td class="bl-table-data">{[{ brew.recipe.name }]}</td>
                            <td class="bl-table-data">{[{ brew.date | date:'dd-MM-yyyy'}]}</td>
                            <td class="bl-table-data">{[{ brew.og }]}</td>
                        </tr>
                    </table>
                    <p ng-if="brews.length == 0">No current brews!</p>

                </div>
            </div>


            <div layout="column" class="bl-column">
                <div class="bl-section" layout="row">
                    <img src="{% static "img/chart.png" %}">
                    <h1>Chart</h1>
                    <span flex>
                        <md-button class="md-icon-button md-accent" aria-label="Refresh" ng-click="refreshChart()">
                            <md-icon md-svg-icon="{% static "img/refresh.svg" %}"></md-icon>
                        </md-button>
                    </span>
                    <md-input-container>
                        <input ng-model="logStart[brew]" placeholder="Start" type="time">
                    </md-input-container>
                    <md-input-container>
                        <input ng-model="logEnd[brew]" placeholder="End" type="time">
                    </md-input-container>
                    <md-button class="md-primary">
                        Update
                    </md-button>
                </div>
                <canvas id="line"
                class="chart chart-line"
                chart-data="data"
                chart-labels="labels"
                chart-legend="true"
                chart-series="series"
                chart-click="onClick" >
                </canvas>
            </div>
        </div>
    </div>
</div>
    <!-- end graph -->




</body>
{% endblock content %}

{% block scripts %}
<script src="{% static "libs/chart/1.1.1/Chart.min.js" %}"></script>
<link rel="stylesheet" href="{% static "libs/angular_chart/0.10.2/angular-chart.min.css" %}">
<script src="{% static "libs/angular_chart/0.10.2/angular-chart.min.js" %}"></script>
<script src="{% static "js/ferment.js" %}"></script>
{% endblock scripts %}
