{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Brew{% endblock title %}
{% block content %}
<body ng-controller="IndexController" ng-cloak="" ng-app="Index">

    <div class="bl-content">
        <div class="bl-block" layout="column">
            <div class="bl-header" layout="row">
                <h1>Home</h1>
            </div>

            <div layout="row" layout-xs="column">

                <!-- Latest -->
                <div flex=35 layout="column" class="bl-column">
                    <div class="bl-topic">
                        <div class="bl-section" layout="row">
                            <img src="{% static "img/in_progress.png" %}">
                            <h1>In progress</h1>
                        </div>
                        <table style="width:100%;" class="bl-table" ng-if="ongoing_brews.length > 0">
                            <tr>
                                <th>Recipe</th>
                                <th>Started</th>
                                <th>O.G.</th>
                            </tr>
                            <tr ng-repeat="brew in ongoing_brews" class="fade">
                                <td class="bl-table-data"><a href="/recipe/recipe?id={[{ brew.recipe.id }]}&brewid={[{ brew.id }]}">{[{ brew.recipe.name }]}</a></td>
                                <td class="bl-table-data">{[{ brew.date | date:'dd-MM-yyyy'}]}</td>
                                <td class="bl-table-data">{[{ brew.og }]}</td>
                            </tr>
                        </table>
                        <p ng-if="ongoing_brews.length == 0">No current brews!</p>
                    </div>
                    <div class="bl-topic">
                        <div class="bl-section" layout="row">
                            <img src="{% static "img/done.png" %}">
                            <h1>Latest brews</h1>
                        </div>
                        <table style="width:100%;" class="bl-table">
                            <tr>
                                <th>Recipe</th>
                                <th>Started</th>
                                <th>Rating</th>
                            </tr>
                            <tr ng-repeat="brew in latest_brews" class="fade">
                                <td class="bl-table-data"><a href="/recipe/recipe?id={[{ brew.recipe.id }]}&brewid={[{ brew.id }]}">{[{ brew.recipe.name }]}</a></td>
                                <td class="bl-table-data">{[{ brew.date | date:'dd-MM-yyyy'}]}</td>
                                <td class="bl-table-data">{[{ brew.rating }]}</td>
                            </tr>
                        </table>
                    </div>

                </div>

                <!-- Statistics -->
                <div flex=35 class="bl-column">
                    <div class="bl-topic">
                        <div class="bl-section" layout="row">
                            <img src="{% static "img/fridge.png" %}">
                            <h1>Fridge</h1>
                        </div>
                        <table style="width:100%;" class="bl-table">
                            <tr>
                                <th>Average</th>
                                <th>Target</th>
                                <th>Compressor</th>
                            </tr>
                            <tr>
                                <td class="bl-table-data">{[{ fridge.avg }]}&deg;C</td>
                                <td class="bl-table-data">{[{ fridge.target }]}&deg;C</td>
                                <td class="bl-table-data">{[{ fridge.compressor }]}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="bl-topic">

                        <div class="bl-section" layout="row">
                            <img src="{% static "img/statistics.png" %}">
                            <h1>Statistics</h1>
                        </div>
                    </div>

                </div>

                <!-- News -->
                <div flex=30 class="bl-column">
                    <div class="bl-section" layout="row">
                        <img src="{% static "img/news.png" %}">
                        <h1>Latest news</h1>
                    </div>
                    <div class="brew-feed post-container" ng-repeat="entry in rss.entries">
                        <div class="post-thumb">
                            <img src="{[{ entry.img }]}" align="left">
                        </div>
                        <div class="post-content">
                            <a href="{[{ entry.link }]}" target="_blank">{[{ entry.contentSnippet }]}</a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>




</body>
{% endblock content %}

{% block scripts %}
<script src="{% static "js/index.js" %}"></script>
{% endblock scripts %}
