{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}
<body href="/recipe/" ng-controller="RecipeController" ng-cloak="" ng-app="Recipe">

    <div layout="row">
        <table style="width:100%;">
            <td>
        <div ng-hide="titleEdit">
            <h3 class="md-display-3" style="border:none;margin:8px;"> {[{ recipe.name }]}</h3>
        </div>
        <div ng-if="titleEdit == true">
            <input ng-model="recipe.name" type="text" style="font-size:56px;" ng-blur="titleEdit = false" ng-model-options="{updateOn: 'blur'}">
        </div>
        <md-button class="md-icon-button md-accent" style="margin:8px;" aria-label="Edit" ng-click="titleEdit = !titleEdit">
            <md-icon>mode_edit</md-icon>
        </md-button>
            </td>
            <td style="text-align: right;">
                <div star-rating ng-model="averageRating" read-only="true" max-rating="10"></div>
            </td>
        </table>

    </div>

    <!-- Water calculations -->
    <div class="bl-content">
        <div class="bl-block" layout="column">
            <div class="bl-header" layout="row">
                <h1>Volumes</h1>
            </div>

            <div layout="row" layout-xs="column">

                <!-- First column (variables) -->
                <div flex layout="column" class="bl-column">
                    <div class="bl-section" layout="row">
                        <img src="{% static "img/calc.png" %}">
                        <h1>Calculator</h1>
                    </div>
                    <div layout-gt-sm="row">
                      <md-input-container flex-gt-sm="" class="md-block">
                        <label>Batch size (liters)</label>
                        <input ng-model="recipe.batch_size" ng-model-options="{updateOn: 'blur'}" type="number">
                      </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                      <md-input-container flex-gt-sm="" class="md-block">
                        <label>Boil time (minutes)</label>
                        <input ng-model="recipe.boil_time" ng-model-options="{updateOn: 'blur'}" type="number">
                      </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                      <md-input-container flex-gt-sm="" class="md-block">
                        <label>Target mash temperature (degrees Celsius)</label>
                        <input ng-model="recipe.mash_temperature" ng-model-options="{updateOn: 'blur'}" type="number">
                      </md-input-container>
                    </div>

                    <div layout="column">
                        <div>
                            <h1 class="md-title">Equipment</h1>
                        </div>
                        <div>
                            <md-input-container flex-gt-sm="" class="md-block">
                                <md-select ng-model="equip" aria-label="Select equipment">
                                    <md-option ng-repeat="equip in equipment" ng-value="equip">
                                        <table style="width:100%;" class="bl-table">
                                        <td ng-if="equipOpen">
                                        <md-button class="md-icon-button md-accent" aria-label="-" ng-click="removeMalt($event, malt)">
                                            <md-icon md-svg-icon="{% static "img/remove.svg" %}"></md-icon>
                                        </md-button>
                                        </td>
                                        <td>{[{ equip.name }]}</td>
                                        </table>
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                    <table style="width:100%;" class="bl-table">
                        <td style="width:100%;">
                            <md-input-container md-no-float flex-gt-sm="" class="md-block">
                              <input ng-model="equipmentName" placeholder="New equipment" type="text">
                            </md-input-container>
                        </td>
                        <td class="bl-table-action">
                            <md-button style="padding:0;margin:0;text-align:right;" class="md-icon-button md-accent" aria-label="+" ng-click="addEquipment()">
                                <md-icon md-svg-icon="{% static "img/add.svg" %}"></md-icon>
                            </md-button>
                        </td>
                    </table>
                    <div layout-gt-sm="row">
                      <md-input-container flex-gt-sm="" class="md-block">
                        <label>Grain temperature (degrees Celsius)</label>
                        <input ng-model="grain_temperature" type="number" ng-blur="calculateWater()">
                      </md-input-container>
                    </div>

                </div>

                <!-- Second column (mostly static) -->
                <div flex class="bl-column">
                    <div class="bl-section-placeholder" layout="row">
                    </div>

                    <div layout-gt-sm="row">
                      <md-input-container flex-gt-sm="" class="md-block">
                        <label>Trub loss (liters)</label>
                        <input ng-model="equip.trub_loss" ng-model-options="{updateOn: 'blur'}" type="number">
                      </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                      <md-input-container flex-gt-sm="" class="md-block">
                        <label>Equipment loss (liters)</label>
                        <input ng-model="equip.equipment_loss" ng-model-options="{updateOn: 'blur'}" type="number">
                      </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                      <md-input-container flex-gt-sm="" class="md-block">
                        <label>Mash thickness (liter/kilogram)</label>
                        <input ng-model="equip.mash_thickness" ng-model-options="{updateOn: 'blur'}" type="number">
                      </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                      <md-input-container flex-gt-sm="" class="md-block">
                        <label>Wort shrinkage (percent)</label>
                        <input ng-model="equip.wort_shrinkage" ng-model-options="{updateOn: 'blur'}" type="number">
                      </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                      <md-input-container flex-gt-sm="" class="md-block">
                        <label>Grain absorption (liter/kilogram)</label>
                        <input ng-model="equip.grain_absorption" ng-model-options="{updateOn: 'blur'}" type="number">
                      </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                      <md-input-container flex-gt-sm="" class="md-block">
                        <label>Percent boiloff (percent/hour)</label>
                        <input ng-model="equip.percent_boiloff" ng-model-options="{updateOn: 'blur'}" type="number">
                      </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                      <md-input-container flex-gt-sm="" class="md-block">
                        <label>Evaporation factor</label>
                        <input ng-model="equip.evaporation_factor" ng-model-options="{updateOn: 'blur'}" type="number">
                      </md-input-container>
                    </div>
                </div>

                <!-- Third column (results) -->
                <div flex class="bl-column">
                    <div class="bl-section" layout="row">
                        <img src="{% static "img/water.png" %}">
                        <h1>Results</h1>
                    </div>
                    <div layout="column" class="bl-result">
                        <label for="totalWater">Total water needed</label>
                        <p><output id="totalWater" class="fade"></output> liters</p>
                    </div>
                    <div layout="column" class="bl-result">
                        <label for="mashWater">Mash water needed</label>
                        <p><output id="mashWater" class="fade"></output> liters</p>
                    </div>
                    <div layout="column" class="bl-result">
                        <label for="spargeWater">Sparge water needed</label>
                        <p><output id="spargeWater" class="fade"></output> liters</p>
                    </div>
                    <div layout="column" class="bl-result">
                        <label for="preBoilWort">Pre-boil wort produced</label>
                        <p><output id="preBoilWort" class="fade"></output> liters</p>
                    </div>
                    <div layout="column" class="bl-result">
                        <label for="approximateMashVolume">Approximate mash volume</label>
                        <p><output id="approximateMashVolume" class="fade"></output> liters</p>
                    </div>
                    <div layout="column" class="bl-result">
                        <label for="strikeTemperature">Strike temperature</label>
                        <p><output id="strikeTemperature" class="fade"></output>&deg;C</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- end water calculations -->

    <!-- Ingredients and method -->
    <div layout="row" layout-xs="column" class="bl-content">

        <!-- Ingredients -->
        <div flex class="bl-block" layout="column">
            <div class="bl-header" layout="row">
                <h1>Ingredients</h1>
            </div>
            <div layout="column" class="bl-column">
                <div class="bl-section" layout="row">
                    <img src="{% static "img/malt.png" %}">
                    <h1>Malt</h1>
                </div>

                <table style="width:100%;" class="bl-table">
                    <tr>
                        <th>Name</th>
                        <th>Amount (kg)</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="malt in recipe.malts" class="fade">
                        <td class="bl-table-data">{[{ malt.inventory.name }]}</td>
                        <td class="bl-table-data">{[{ malt.amount }]}</td>
                        <td class="bl-table-action">
                            <md-button class="md-icon-button md-accent" aria-label="-" ng-click="removeMalt($event, malt)">
                                <md-icon md-svg-icon="{% static "img/remove.svg" %}"></md-icon>
                            </md-button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <md-autocomplete flex
                            md-input-name="autocompleteField"
                            md-input-minlength="2"
                            md-input-maxlength="60"
                            md-selected-item="selectedMaltItem"
                            md-search-text="searchMaltText"
                            md-items="malt in queryMaltSearch(searchMaltText)"
                            md-item-text="malt.name"
                            md-floating-label="Name"
                            class="no-float">
                            <md-item-template>
                                <span md-highlight-text="searchMaltText">{[{malt.name}]}</span>
                            </md-item-template>
                        </md-autocomplete>
                        </td>
                        <td>
                            <md-input-container md-no-float flex-gt-sm="" class="md-block">
                              <input ng-model="maltAmount" placeholder="Amount" type="number">
                            </md-input-container>
                        </td>
                        <td class="bl-table-action">
                            <md-button class="md-icon-button md-accent" aria-label="+" ng-click="addMalt($event)">
                                <md-icon md-svg-icon="{% static "img/add.svg" %}"></md-icon>
                            </md-button>
                        </td>
                    </tr>
                </table>

                <div class="bl-section" layout="row">
                    <img src="{% static "img/hops.png" %}">
                    <h1>Hops</h1>
                </div>

                <table style="width:100%;" class="bl-table">
                    <tr>
                        <th>Name</th>
                        <th>Amount (g)</th>
                        <th>Add (minutes)</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="hop in recipe.hops" class="fade">
                        <td class="bl-table-data">{[{ hop.inventory.name }]}</td>
                        <td class="bl-table-data">{[{ hop.amount }]}</td>
                        <td class="bl-table-data">{[{ hop.add }]}</td>
                        <td class="bl-table-action">
                            <md-button class="md-icon-button md-accent" aria-label="-" ng-click="removeHop($event, hop)">
                                <md-icon md-svg-icon="{% static "img/remove.svg" %}"></md-icon>
                            </md-button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <md-autocomplete flex
                            md-input-name="autocompleteField"
                            md-input-minlength="2"
                            md-input-maxlength="60"
                            md-selected-item="selectedHopItem"
                            md-search-text="searchHopText"
                            md-items="hop in queryHopSearch(searchHopText)"
                            md-item-text="hop.name"
                            md-floating-label="Name"
                            class="no-float">
                            <md-item-template>
                                <span md-highlight-text="searchHopText">{[{hop.name}]}</span>
                            </md-item-template>
                        </md-autocomplete>
                        </td>
                        <td>
                            <md-input-container md-no-float flex-gt-sm="" class="md-block">
                              <input ng-model="hopAmount" placeholder="Amount" type="number">
                            </md-input-container>
                        </td>
                        <td>
                            <md-input-container md-no-float flex-gt-sm="" class="md-block">
                              <input ng-model="hopAdd" placeholder="Add" type="number">
                            </md-input-container>
                        </td>
                        <td class="bl-table-action">
                            <md-button class="md-icon-button md-accent" aria-label="+" ng-click="addHop($event)">
                                <md-icon md-svg-icon="{% static "img/add.svg" %}"></md-icon>
                            </md-button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- end ingredients -->

        <!-- Method -->
        <div flex class="bl-block" layout="column">
            <div class="bl-header" layout="row">
                <h1>Method</h1>
            </div>
            <!-- Items -->
            <div layout="column" class="bl-method bl-column">
                <div class="bl-section" layout="row">
                    <img src="{% static "img/mash.png" %}">
                    <h1>Mash</h1>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm="">
                    <label>Mash time (minutes)</label>
                    <input ng-model="recipe.mash_time" ng-model-options="{updateOn: 'blur'}" type="number">
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm="">
                    <label>Sparge time (minutes)</label>
                    <input ng-model="recipe.sparge_time" ng-model-options="{updateOn: 'blur'}" type="number">
                  </md-input-container>
                </div>
                <div class="bl-section" layout="row">
                    <img src="{% static "img/yeast.png" %}">
                    <h1>Yeast</h1>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container flex-gt-sm="" class="md-block">
                    <label>Name</label>
                    <input ng-model="recipe.yeast" ng-model-options="{updateOn: 'blur'}" type="text">
                  </md-input-container>
                </div>
            </div>
            <!-- end items -->
        </div>
        <!-- end method -->
    </div>
    <!-- end ingredients and method -->

    <!-- Notes and results -->
    <div layout="column" class="bl-content">

        <div ng-repeat="brew in recipe.brews" class="md-block" ng-controller="BrewController">
            <div layout="row" class="bl-brew-list-header" ng-class="{'bl-brew-list-header-collapsed': brewCollapse[$index]}">
                <div style="width:100%;" ng-click="brewCollapse[$index] = !brewCollapse[$index]">
                    <table style="width:100%;">
                        <td style="width:25%;">Added {[{ brew.date | date:'dd-MM-yyyy' }]}</td>
                        <td style="width:25%;">
                            <div star-rating ng-model="brew.rating" rating="brew.rating" read-only="true" max-rating="10"></div>
                        </td>
                    </table>
                </div>
                <div style="float:right;">
                    <md-button style="margin:0;" class="md-warn" ng-click="removeBrew($event, brew)">Delete</md-button>
                </div>

            </div>
            <div ng-if="brewCollapse[$index]" layout="row" layout-xs="column" class="bl-brew-list-content">
                <!-- Notes -->
                <div flex class="bl-block" layout="column">
                    <div class="bl-header" layout="row">
                        <h1>Notes</h1>
                    </div>
                    <div layout="column" class="bl-column">
                        <div class="bl-section" layout="row">
                            <img src="{% static "img/log.png" %}">
                            <h1>Log</h1>
                        </div>
                        <table style="width:100%;" class="bl-table">
                            <tr>
                                <th>Start</th>
                                <th>End</th>
                                <th>Description</th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="log in brew.logs" class="fade">
                                <td class="bl-table-data">{[{ log.start }]}</td>
                                <td class="bl-table-data">{[{ log.end }]}</td>
                                <td class="bl-table-data">{[{ log.description }]}</td>
                                <td class="bl-table-action">
                                    <md-button class="md-icon-button md-accent" aria-label="-" ng-click="deleteLog($event, brew, log)">
                                        <md-icon md-svg-icon="{% static "img/remove.svg" %}"></md-icon>
                                    </md-button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <md-input-container md-no-float flex-gt-sm="" class="md-block">
                                      <input ng-model="logStart[brew]" placeholder="Start" type="time">
                                    </md-input-container>
                                </td>
                                <td>
                                    <md-input-container md-no-float flex-gt-sm="" class="md-block">
                                      <input ng-model="logEnd[brew]" placeholder="End" type="time">
                                    </md-input-container>
                                </td>
                                <td>
                                    <md-input-container md-no-float flex-gt-sm="" class="md-block">
                                      <input ng-model="logDescription[brew]" placeholder="Description" type="text">
                                    </md-input-container>
                                </td>
                                <td class="bl-table-action">
                                    <md-button class="md-icon-button md-accent" aria-label="+" ng-click="addLog(brew)">
                                        <md-icon md-svg-icon="{% static "img/add.svg" %}"></md-icon>
                                    </md-button>
                                </td>
                            </tr>
                        </table>

                        <div class="bl-section" layout="row">
                            <img src="{% static "img/comment.png" %}">
                            <h1>Comments</h1>
                        </div>
                        <div layout="column" class="bl-column">
                            <div ng-repeat="comment in brew.comments" layout="column" class="fade">
                                <!-- Comment -->
                                <div ng-hide="editedComments[comment.date]" layout="row">
                                    <div style="width:100%; position:relative;" layout="column">
                                        <div style="padding-bottom:5px;"><em>Written: {[{ comment.date | date:'dd-MM-yyyy HH:mm' }]}</em></div>
                                        <div style="word-wrap:break-word; position:absolute; bottom:0;">{[{ comment.comment }]}</div>
                                    </div>
                                    <div style="float:right; width:110px;" layout="column">
                                        <md-button class="md-primary" ng-click="editComment(comment)">Edit</md-button>
                                        <md-button class="md-warn" ng-click="deleteComment($event, brew, comment)">Delete</md-button>
                                    </div>
                                </div>
                                <!-- Comment when editing -->
                                <div ng-if="editedComments[comment.date]" layout="row">
                                    <div style="width:100%;" layout="column">
                                        <md-input-container class="md-block" md-no-float>
                                            <textarea class="comment-textarea" rows="5" id="{[{ 'comment' + comment.id }]}" aria-label="Comment">
                                                {[{ comment.comment }]}
                                            </textarea>
                                        </md-input-container>
                                    </div>
                                    <div style="float:right; width:100px;" layout="column">
                                        <md-button class="md-primary" ng-click="updateComment(brew, comment)">Save</md-button>
                                        <md-button class="md-warn" ng-click="editComment(comment)">Undo</md-button>
                                    </div>
                                </div>
                                <span layout="row"><hr flex/></span>
                            </div>

                            <div layout="row">
                                <div style="width:100%;" layout="column">
                                    <md-input-container class="md-block" md-no-float>
                                        <textarea ng-model="comments[brew]" rows="5" placeholder="Add comment"></textarea>
                                    </md-input-container>
                                </div>
                                <div style="float:right; width:110px;" layout="column">
                                    <md-button class="md-primary" ng-click="addComment(brew)">Add</md-button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end notes -->

                <!-- Results -->
                <div flex class="bl-block" layout="column">
                    <div class="bl-header" layout="row">
                        <h1>Results</h1>
                    </div>
                    <div layout="column" class="bl-column">
                        <div class="bl-section" layout="row">
                            <img src="{% static "img/fermentation.png" %}">
                            <h1>Fermentation</h1>
                        </div>
                        <div layout-gt-sm="row">
                          <md-input-container class="md-block" flex-gt-sm="">
                            <label>Fermentation temperature (degrees Celsius)</label>
                            <input ng-model="brew.fermentation_temperature" ng-model-options="{updateOn: 'blur'}" type="number">
                          </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                          <md-input-container class="md-block" flex-gt-sm="">
                            <label>Fermentation time (days)</label>
                            <input ng-model="brew.fermentation_time" ng-model-options="{updateOn: 'blur'}" type="number">
                          </md-input-container>
                        </div>
                        <div class="bl-section" layout="row">
                            <img src="{% static "img/gravity.png" %}">
                            <h1>Gravity</h1>
                        </div>
                        <div layout-gt-sm="row">
                          <md-input-container class="md-block" flex-gt-sm="">
                            <label>O.G</label>
                            <input ng-model="brew.og" type="number" ng-model-options="{updateOn: 'blur'}" step="0.001">
                          </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                          <md-input-container class="md-block" flex-gt-sm="">
                            <label>F.G</label>
                            <input ng-model="brew.fg" type="number" ng-model-options="{updateOn: 'blur'}" step="0.001">
                          </md-input-container>
                        </div>
                        <div layout="column" class="bl-result">
                            <label for="attenuation">Attenuation</label>
                            <p>{[{ brew.attenuation }]}%</p>
                        </div>
                        <div layout="column" class="bl-result">
                            <label for="abv">ABV</label>
                            <p>{[{ brew.abv }]}%</p>
                        </div>
                        <div class="bl-section" layout="row">
                            <img src="{% static "img/rating.png" %}">
                            <h1>Rating</h1>
                        </div>
                        <div star-rating ng-model="brew.rating" rating="brew.rating" read-only="false" max-rating="10" ng-click="updateAverageRating()"></div>
                    </div>
                </div>
                <!-- end results -->
            </div>
        </div>

    </div>
    <!-- end log and comments -->

    <div style="float:right;" layout="column" class="md-block">
        <md-button class="md-primary" ng-click="addBrew($event)">Add new brew</md-button>
    </div>

    <div style="padding:100px"></div>
</body>
{% endblock content %}
{% block scripts %}
<script src="{% static "js/recipe.js" %}"></script>
{% endblock scripts %}
